/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,400');

:root {
    --themeColor: rgb(52, 152, 219);
    --themeDhak: #1e7fc0;
    --themeColorOpacity: #3498DB80;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.app-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
@media (min-width: 768px) {
    .app-container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .app-container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .app-container {
        width: 1400px;
    }
}

.themeLetter:first-letter {
    color: var(--themeColor);
}

/* Button */
.btn {
    transition: 0.4s all ease-in-out;
    display: block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    border: 0;
    padding: 8px 10px 6px 10px;
    font-size: 1rem;
    width: 100%;
    color: #fff;
    line-height: 1.5;
    position: relative;
    background-color: var(--themeColor);
}

.btn:hover {
    cursor: pointer;
    background-color: var(--themeDhak);
}

/* Scroll Change Content Position */
.scrollNav {
    margin-top: 185px;
}