:root {
    --themeColor: #3498db;
    --themeDhak: #1e7fc0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.app-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
@media (min-width: 768px) {
    .app-container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .app-container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .app-container {
        width: 1400px;
    }
}